.Container{
    border:2px solid red;
    height: 100vh
}
ul{
    border:2px solid green;
    list-style: none;
    display: inline;
}
li{
    border:2px solid green;
    list-style: none;
    display: inline;
}

img{
    border: 2px solid black;
    margin: 45;
    display: inline;
}